/* For testing only */
*:not(body):not(html) {
  border:1px dashed #000;
}

//
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
//

//fonts
@font-face {
    font-family: Porto;
    src: url('../fonts/Porto_400.ttf');
}

@font-face {
    font-family: Moderne Sans;
    src: url('../fonts/Moderne_Sans.ttf');
}
//end fonts

//variables
$break-small: 320px;
$break-medium: 800px;
$break-large: 1200px;
//


body{
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  font: 12px;
  @media screen and (min-width: $break-small) {
    flex-direction: column
  }
  @media screen and (min-width: $break-medium) {
    flex-direction: row;
  }
}

//navbar
nav{
  flex: 0 0 10vw;
  .nav-bar {
    background-color: #292929;
    border: solid 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // height: 10vh;
    @media screen and (min-width: $break-medium){
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 10vw;
      min-width: 115px;
      height: 100vh;
    }
    .picture-menu-icon {
      display: flex;
      justify-content: space-between;
      height: 50px;
      @media screen and (min-width: $break-small) {
        flex-direction: row;
        align-items: center;
      }
      @media screen and (min-width: $break-medium){
        flex-direction: column;
        flex: 1;
      }
      img{
        height: 125px;
        width: auto;
        @media screen and (min-width: $break-small) {
          height: 75px;
          width: auto;
        }
      }

    }

    ul, .nav-links {
      list-style-type: none;
      text-decoration: none;
      padding: 0;
      left: 10%;
      top: 50%;
      @media screen and (max-width: $break-medium) {
        display: none;
      }
      @media screen and (min-width: $break-medium) {
        flex: 2;
        display: block;
      }
      li{
        text-align: center;
        margin: 0 0 15px 0;
        color: #B2841B;
      }
      a {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Karla', sans-serif;
      }
    }
    .fa-bars {
      float: right;
      color: white;
      @media screen and (min-width: $break-medium) {
        display: none;
      }
    }
  }
}
//end sidebar

// main content section (non-navbar)
.main {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  .banner {
    height: 100vh;
    padding: 50px;
    h1, h3 {
      font-family: Moderne Sans;
    }
  }
  .section{
    height: 100vh;
    background-color: #FEFEF2;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: #C14A3C;
  }

  .project {
    height: 300px;
    width: 300px;
    float: left;
    margin: 10px;
    cursor: pointer;
    &:hover{
      border: 5px solid #C14A3C;
      color: #C14A3C;
      font-size: 30px;
    }
  }
  #pARTicipate{
    background: url('../img/pARTicipate_screenshots/pARTicipate-home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #lousyLifehacks{
    background: url('../img/Lousy_Lifehacks_screenshots/Search.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#pARTicipate-page, #lousyLifehacks-page {
  display: none;
  color: white;
  background-color: black;
  @media screen and (min-width: $break-medium){
    width: 100vw;
  }
  // position: fixed;
  // width: 100%;
}
  // .pulse {
  // 	animation-name: pulse_animation;
  // 	animation-duration: 5000ms;
  // 	transform-origin:70% 70%;
  // 	animation-iteration-count: infinite;
  // 	animation-timing-function: linear;
  // }



// @keyframes pulse_animation {
// 	0% { transform: scale(1); }
// 	30% { transform: scale(1); }
// 	40% { transform: scale(1.08); }
// 	50% { transform: scale(1); }
// 	60% { transform: scale(1); }
// 	70% { transform: scale(1.05); }
// 	80% { transform: scale(1); }
// 	100% { transform: scale(1); }
// }
