/* For testing only */
// *:not(body):not(html) {
//   border:1px dashed #000;
// }

//
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
//

//fonts
@font-face {
    font-family: Porto;
    src: url('../fonts/Porto_400.ttf');
}

@font-face {
    font-family: Moderne Sans;
    src: url('../fonts/Moderne_Sans.ttf');
}
//end fonts

//variables
$break-small: 320px;
$break-iPhone-plus: 400px;
$break-medium: 750px;
$break-large: 1200px;

$font-moderne-sans: "Moderne Sans";
$font-karla-sans: 'Karla', sans-serif;

$text-color-light: #FEFAF2;
$orangish: #FFDEBA;
$bluish: #99C2FF;
$charcoal: #292929;
//


body{
  margin: 0;
  width: 100vw;
  height: 100%;
}
.container {
  font: 12px;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

//navbar
nav{
  width: 100vw;
  @media screen and (min-width: $break-medium){
    width: 10vw;
  }
}
.nav-bar {
  background-color: $charcoal;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $break-medium){
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 10vw;
    min-width: 115px;
    height: 100vh;
  }
}
.picture-menu-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  @media screen and (min-width: $break-medium){
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
    width: 10vw;
  }
  img{
    height: 75px;
    width: auto;
    @media screen and (min-width: $break-medium) {
      height: 125px;
      width: auto;
    }
  }
}


.nav-links {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  left: 10%;
  top: 50%;
  display: none;
  font-size: 1.5em;
  @media screen and (min-width: $break-medium) {
    flex: 2;
    display: block;
    width: 10vw;
  }
  li{
    text-align: center;
    margin: 0 0 15px 0;
    color: #B2841B;
    margin-left: 0;
    @media screen and (min-width: $break-medium){
    }
  }
  a {
    text-decoration: none;
    color: $text-color-light;
    font-family: $font-karla-sans;
  }
}

//When user clicks the toggle icon, it sets class to .is-open
.nav-links.is-open{
  display: block;
}

.fa-bars {
  float: right;
  color: $text-color-light;
  @media screen and (min-width: $break-medium) {
    display: none;
  }
}


//end nav-bar

// main content section (non-navbar)
.main {
  // flex: 1;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $break-medium){
    width: 90vw;
  }
}
#landing-banner {
  background-color: $bluish;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color-light;
  @media screen and (min-width: $break-medium) {
    height: 100vh;
  }
  h1{
    font-family: $font-moderne-sans;
    margin-top: 20px;
    margin-bottom: 0;
  }
  h3{
    font-family: $font-karla-sans;
    color: #E88B96;
    margin: 0;
  }
  svg {
    height: 50vh;
    @media screen and (min-width: $break-medium) {
      height: 95vh;
    }
  }
}

.section{
  margin-bottom: 50px;
  @media screen and (min-width: $break-medium){
    width: 90vw;
    margin-left: 10vw;
  }
}
#about-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Moderne Sans;
  @media screen and (min-width: $break-medium){
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .education,
  .tech-skills,
  .additional-skills {
    text-align: center;
  }
  .education-row {
    @media screen and (min-width: $break-large) {
      display: flex;
      flex-direction: column;
    }
  }
  .education-tech-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    @media screen and (min-width: $break-medium) {
      width: 90vw;
    }
    @media screen and (min-width: $break-large) {
      flex-direction: row;
    }
  }
  .additional-skills{
    display: flex;
    flex-direction: column;
  }
  .skills {
    @media screen and (min-width: $break-medium) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .skills-col-1,
  .skills-col-2 {
    text-align: center;
    font-family: $font-karla-sans;
    @media screen and (min-width: $break-medium) {
      flex-direction: row;
      margin-left: 30px;
      margin-right: 30px;
    }
    h4{
      margin: 0.5em;
    }
  }
  h1{
    font-size: 1.5em;
  }
  img.about-icon{
    height: 2em;
    width: auto;
    margin: 5px;
    @media screen and (min-width: $break-medium){
      height: 3.5em;
    }
    @media screen and (min-width: $break-large) {
      height: 4.5em;
    }
  }
  .education-row > img.about-icon:nth-child(n+2) {
    @media screen and (min-width: $break-large) {
      width: 6em;
    }
  }
}

#projects-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-moderne-sans;
  background-color: $bluish;
  color: $text-color-light;
  @media screen and (min-width: $break-medium) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  h4, h5{
    font-family: $font-karla-sans;
    color: $charcoal;
  }
}

.project-tile {
  width: 100vw;
  float: left;
  @media screen and (min-width: $break-medium) {
    width: 90vw;
  }
}
#pARTicipate-tile{
  background: url('../img/pARTicipate_screenshots/pARTicipate-full.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  @media screen and (min-width: $break-medium) {
    height: 500px;
    background-size: 120% 130%;
  }
}
#lousyLifehacks-tile{
  background: url('../img/Lousy_Lifehacks_screenshots/Synopsis.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  height: 150px;
  @media screen and (min-width: $break-iPhone-plus) {
    height: 200px;
  }
  @media screen and (min-width: $break-medium) {
    background: url('../img/Lousy_Lifehacks_screenshots/Search.png');
    height: 440px;
  }
}
#Genius-tile {
  background: url('../img/Genius-redesign/Logo.png');
  background-size: 180% 90%;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  height: 100px;
  @media screen and (min-width: $break-iPhone-plus) {
    background-size: 150% 100%;
    height: 100px;
  }
  @media screen and (min-width: $break-medium) {
    background: url('../img/Genius-redesign/Logo-big.png');
    background-size: 100% 100%;
    height: 250px;
  }
}

.project-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8vw;
  padding-right: 8vw;
  margin-bottom: 50px;
  @media screen and (min-width: $break-medium) {
    line-height: 200%;
    font-size: 125%;
  }
  ul{
    list-style-type: square;
    font-family: $font-karla-sans;
    color: $charcoal;
  }
  a {
    color: $text-color-light;
  }
}
svg.github{
  transform: scale(0.10);
}
.link-icons {
  width: 100vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $break-medium) {
    width: 90vw;
  }
  img {
    margin-left: 20px;
    margin-right: 20px;
  }
}
#pARTicipate-detail,
#lousyLifehacks-detail,
#Genius-detail {
  padding-left: 8vw;
  padding-right: 8vw;
}
.project-detail > h3, h4, h5, ul, li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-detail > h3.role {
  margin-top: 50px;
}

#contact-section {
  font-family: $font-karla-sans;
  text-align: center;
  @media screen and (min-width: $break-medium) {
    height: 50vh;
  }

  img{
    margin: 40px;
  }
}

footer {
  text-align: center;
  font-family: $font-karla-sans;
}
