/* For testing only */
// *:not(body):not(html) {
//   border:1px dashed #000;
// }

//
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
//

//fonts
// @font-face {
//     font-family: Porto;
//     src: url('../fonts/Porto_400.ttf');
// }
//
// @font-face {
//     font-family: Moderne Sans;
//     src: url('../fonts/Moderne_Sans.ttf');
// }
//end fonts

//variables
$break-small: 320px;
$break-iPhone-plus: 400px;
$break-medium: 750px;
$break-large: 1200px;

$font-quicksand: 'Quicksand', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$text-color-light: #FEFAF2;
$light-grey: #f7f7f7;
$reddish: #E88B96;
$orangish: #FFDEBA;
$bluish: #99C2FF;
$charcoal: #292929;
//

//mixins
@mixin tile-background {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  height: 125px;
  width: 125px;
  border-radius: 5px;
  padding: 5px;
};
//

body{
  margin: 0;
  width: 100vw;
  height: 100%;
}
.container {
  font: 12px;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

//navbar
nav{
  width: 100vw;
  position: fixed;
}
.nav-bar {
  background-color: $charcoal;
  padding: 1vh 1.5vw;
  display: flex;
  flex-direction: column;
}
.picture-menu-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#initials {

  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: $font-raleway;
}

.nav-links {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  left: 10%;
  top: 50%;
  display: none;
  font-size: 1.5em;
  li{
    text-align: center;
    margin: 0 0 15px 0;
    color: #B2841B;
    margin-left: 0;
  }
  a {
    text-decoration: none;
    color: $text-color-light;
    font-family: $font-raleway;
  }
}

//When user clicks the toggle icon, it sets class to .is-open
.nav-links.is-open{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  li {
    width: 100%;
    border-bottom: 1px solid white;
    text-align: right;
  }
}

.fa-bars {
  float: right;
  color: $text-color-light;
}


//end nav-bar

// main content section (non-navbar)
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
#landing-banner {
  background-color: $bluish;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color-light;
  @media screen and (min-width: $break-medium) {
    height: 100vh;
  }
  h1{
    font-family: $font-quicksand;
    margin-top: 0;
    margin-bottom: 0;
  }
  h3{
    font-family: $font-raleway;
    color: $reddish;
    margin: 0;
  }
  svg {
    height: 50vh;
    @media screen and (min-width: $break-medium) {
      height: 70vh;
    }
  }
}

.section {
  width: 100vw;
  padding: 25px 0;
  @media screen and (min-width: $break-medium) {
    padding: 50px 0;
  }
}
#about-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Moderne Sans;
  h1 {
    font-family: $font-quicksand;
  }
  @media screen and (min-width: $break-medium){
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .education,
  .tech-skills,
  .additional-skills {
    text-align: center;
  }
  .education-row {
    @media screen and (min-width: $break-large) {
      display: flex;
      flex-direction: column;
      >:nth-child(4) {
        margin-top: 25px;
      }
    }
  }
  .education-tech-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    @media screen and (min-width: $break-medium) {
      width: 90vw;
    }
    @media screen and (min-width: $break-large) {
      flex-direction: row;
    }
  }
  .additional-skills{
    display: flex;
    flex-direction: column;
  }
  .skills {
    @media screen and (min-width: $break-medium) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .skills-col-1,
  .skills-col-2 {
    text-align: center;
    font-family: $font-raleway;
    @media screen and (min-width: $break-medium) {
      flex-direction: row;
      margin-left: 30px;
      margin-right: 30px;
    }
    h4{
      margin: 0.5em;
    }
  }
  h1 {
    font-size: 1.5em;
  }
  img.about-icon {
    width: 50px;
    height: auto;
    margin: 5px;
    @media screen and (min-width: $break-medium){
      width: 75px;
      height: auto;
      max-height: 100px;
    }
    @media screen and (min-width: $break-large) {
      height: auto;
      max-height: 100px;
    }
  }
}


//////
#projects-section{
  font-family: $font-quicksand;
  background-color: white;
  color: $charcoal;
  h3 {
    font-weight: bold;
  }
  h3, h4 {
    font-family: $font-raleway;
    color: $charcoal;
  }
  #projects-header {
    margin: 15px;
    text-align: center;
  }
}
.project-tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: $break-medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.project {
  margin: 0;
  background-color: $light-grey;
  border-radius: 2px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: box-shadow 0.5s cubic-bezier(.25,.8,.25,1);
  @media screen and (min-width: $break-medium) {
    &:hover:not(.project-wrapper-fullscreen) {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .close-button {
    display: none;
  }
  @media screen and (min-width: $break-medium) {
    height: 60vh;
    width: 45vw;
    &:hover:not(.project-wrapper-fullscreen) {
      cursor: pointer;
    }
  }
}


.project-wrapper {
  &:not(.project-wrapper-fullscreen) {
    h4.skinny {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 500px;
      max-height: 4.7em; /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: 0.85em;
      line-height: 1.2em;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// project tile becomes fullscreen
.project-wrapper-fullscreen{
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .close-button {
    display: block;
    align-self: flex-end;
    cursor: pointer;
  }
  .project {
    height: 85%;
    width: 85%;
    box-shadow: none;
    cursor: default;
    overflow: auto;
  }
  .project-detail {
    width: 50%;
  }
  @media screen and (max-width: $break-medium) {
    .project-detail {
      width: 80%;
    }
  }
}

.project-tile {
  @include tile-background;
}
#hd-tile {
  background: url('../img/quote-center/HomeDepot.png');
  @include tile-background;
}
#potato-tile {
  background: url('../img/potato-potato/logo_wordmark_2.png');
  @include tile-background;
}
#hack-tile {
  background: url('../img/portfolio-icons/hackoregon.png');
  @include tile-background;
}

#badgers-tile{
  background: url('../img/badgers/badgers-name.png');
  @include tile-background;
}
#pARTicipate-tile{
  background: url('../img/pARTicipate_screenshots/participate.png');
  @include tile-background;
  margin-bottom: 35px;
  height: 125px;
  width: 125px;
}
#Genius-tile {
  background: url('../img/Genius-redesign/Genius-logo.svg');
  // background-color: #FFE067;
  @include tile-background;
}

.link-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    width: auto;
    cursor: pointer;
  }
}

.brand-icon {
  height: 50px;
  width: auto;
}

h2.view-more {
  text-align: center;
}

.project-detail {
  // padding: 0 8vw;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}
.project-detail > h3, h4, h5, ul, li {
  margin: 10px 0;
}
.project-detail .role {
  font-weight: bold;
}
.project-detail > h4.skinny {
  font-size: 14px;
  line-height: 18px;
}

#contact-section {
  font-family: $font-raleway;
  text-align: center;
  width: 100vw;
  margin-bottom: 10px;
  @media screen and (min-width: $break-medium) {
    height: 50vh;
    width: 100%;
  }
  svg{
    margin: 25px;
    height: 25px;
    width: auto;
  }
}
#contact-section a {
  text-decoration: none;
}
.reddish {
  g > g {
    fill: $reddish;
  }
}
