//output: index.html
doctype html
html
  head
    title Keir Staple
    meta(charset="utf-8" name="viewport" content="width=device-width")
    link(href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css')
    link(href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet" href="css/animate.css")
    link(rel="stylesheet" href="css/styles.css")
    script(src="js/jquery-1.12.3.js")
    script(src="js/jquery-ui.min.js")
    script(src="js/scripts.js")
    
  body
    div(class="container")
      nav(role="navigation")
        div(class="nav-bar")
          div(class="picture-menu-icon")
            a(href="#landing-banner") 
              img(src="img/profile-diamond.png" id="profile-image" alt="Image of Keir")
            i(class="fa fa-bars fa-2x mobile-nav-toggle" aria-hidden="true")
          ul(class="nav-links")
            li 
              a(href='#about-section') About
            li 
              a(href='#projects-section') Projects
            li
              a(href="#contact-section") Contact
      div(class="main")
        div(class="banner section" id="landing-banner")
          h1 Keir Staple
          h3 Front End Developer
          
          //Bear-Head Popsicle SVG
          svg(width="260px" height="549px" viewBox="92 -180 260 549" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g(id="Bear-Popsickle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(92.000000, -180.000000)")
                  g(id="Stick" transform="translate(103.000000, 240.000000)")
                      rect(id="Whole-stick" class="animated bounce infinite" fill="#F0CF9A" x="0" y="0" width="55" height="309" rx="27.5")
                      path(d="M16.25,55.5 L16.25,112.5" id="Stick-crack1" class="animated bounce infinite" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
                      path(d="M36.25,105.5 L36.25,162.5" id="Stick-crack2" class="animated bounce infinite" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
                      path(d="M16.25,155.5 L16.25,212.5" id="Stick-crack3" class="animated bounce infinite" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
                      path(d="M36.25,205.5 L36.25,262.5" id="Stick-crack4" class="animated bounce infinite" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
                  g(id="Bear-Head")
                      path(d="M32.242746,75.5810042 C35.1672891,52.0135362 56.7978818,32.9083286 80.5474748,32.9083286 L180.851259,32.9083286 C204.604681,32.9083286 226.883038,51.9119141 230.613993,75.3705733 L256.246641,236.537755 C259.976418,259.989006 243.745288,279 220.007052,279 L49.9929478,279 C26.2485984,279 9.37086244,259.894374 12.2953536,236.327324 L32.242746,75.5810042 Z" id="Head-Shape" fill="#282828")
                      ellipse(id="Ear-Right" fill="#282828" transform="translate(45.000000, 46.000000) rotate(-325.000000) translate(-45.000000, -46.000000) " cx="45" cy="46" rx="30" ry="34")
                      ellipse(id="Ear-Left" fill="#282828" transform="translate(215.000000, 46.000000) scale(-1, 1) rotate(-325.000000) translate(-215.000000, -46.000000) " cx="215" cy="46" rx="30" ry="34")
                      ellipse(id="Eyeball-Right" fill="#FFFFFF" cx="87" cy="108.5" rx="26" ry="21.5")
                      ellipse(id="Eyeball-Left" fill="#FFFFFF" cx="177" cy="108.5" rx="26" ry="21.5")
                      ellipse(id="Iris-Right" fill="#694321" cx="87.5" cy="108.5" rx="12.5" ry="16.5")
                      ellipse(id="Iris-Left" fill="#694321" cx="177.5" cy="108.5" rx="12.5" ry="16.5")
                      ellipse(id="Pupil-Right" fill="#000000" cx="87.5" cy="108" rx="7.5" ry="11")
                      ellipse(id="Pupil-Left" fill="#000000" cx="177.5" cy="108" rx="7.5" ry="11")
                      path(d="M133.472076,122 C159.441888,122 197.672982,216.727571 185.4117,246 C173.150418,275.272429 94.8465511,277.785913 81.5324511,246 C68.2183512,214.214087 107.502263,122 133.472076,122 Z" id="Muzzle" stroke="#979797" fill="#D8D8D8")
                      path(d="M110,177 C121.5,167 144.5,167 156,177 C167.5,187 156,217 156,217 L110,217 C110,217 98.5,187 110,177 Z" id="Nose" fill="#000000")
                      path(d="M134.5,259.420879 C153.553824,259.420879 169,250.851275 169,244.5 C169,238.148725 153.553824,249.270289 134.5,249.270289 C115.446176,249.270289 100,238.148725 100,244.5 C100,250.851275 115.446176,259.420879 134.5,259.420879 Z" id="Mouth" fill="#E88B96")
          
          
          //- svg(width="260px" height="549px" viewBox="92 -180 260 549" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          //-     g(id="Bear-Popsickle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(92.000000, -180.000000)")
          //-       g(id="Stick" class="animated bounce infinite" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(103.000000, 240.000000)")
          //-           rect(id="Whole-stick" fill="#F0CF9A" x="0" y="0" width="55" height="309" rx="27.5")
          //-           path(d="M16.25,55.5 L16.25,112.5" id="Stick-crack1" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
          //-           path(d="M36.25,105.5 L36.25,162.5" id="Stick-crack2" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
          //-           path(d="M16.25,155.5 L16.25,212.5" id="Stick-crack3" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
          //-           path(d="M36.25,205.5 L36.25,262.5" id="Stick-crack4" stroke="#CE9665" stroke-width="0.5" stroke-linecap="square")
          //-       g(id="Bear-Head")
          //-         path(d="M32.242746,75.5810042 C35.1672891,52.0135362 56.7978818,32.9083286 80.5474748,32.9083286 L180.851259,32.9083286 C204.604681,32.9083286 226.883038,51.9119141 230.613993,75.3705733 L256.246641,236.537755 C259.976418,259.989006 243.745288,279 220.007052,279 L49.9929478,279 C26.2485984,279 9.37086244,259.894374 12.2953536,236.327324 L32.242746,75.5810042 Z" id="Head-Shape" fill="#282828")
          //-         ellipse(id="Ear-Right" class="eyesNears" fill="#282828" transform="translate(45.000000, 46.000000) rotate(-325.000000) translate(-45.000000, -46.000000) " cx="45" cy="46" rx="30" ry="34")
          //-         ellipse(id="Ear-Left" class="eyesNears" fill="#282828" transform="translate(215.000000, 46.000000) scale(-1, 1) rotate(-325.000000) translate(-215.000000, -46.000000) " cx="215" cy="46" rx="30" ry="34")
          //-         ellipse(id="Eyeball-Right" class="eyesNears" fill="#FFFFFF" cx="87" cy="108.5" rx="26" ry="21.5")
          //-         ellipse(id="Eyeball-Left" class="eyesNears" fill="#FFFFFF" cx="177" cy="108.5" rx="26" ry="21.5")
          //-         ellipse(id="Iris-Right" class="eyesNears" fill="#694321" cx="87.5" cy="108.5" rx="12.5" ry="16.5")
          //-         ellipse(id="Iris-Left" class="eyesNears" fill="#694321" cx="177.5" cy="108.5" rx="12.5" ry="16.5")
          //-         ellipse(id="Pupil-Right" class="eyesNears" fill="#000000" cx="87.5" cy="108" rx="7.5" ry="11")
          //-         ellipse(id="Pupil-Left" class="eyesNears" fill="#000000" cx="177.5" cy="108" rx="7.5" ry="11")
          //-         path(d="M133.472076,122 C159.441888,122 197.672982,216.727571 185.4117,246 C173.150418,275.272429 94.8465511,277.785913 81.5324511,246 C68.2183512,214.214087 107.502263,122 133.472076,122 Z" id="Muzzle" stroke="#979797" fill="#D8D8D8")
          //-         path(d="M110,177 C121.5,167 144.5,167 156,177 C167.5,187 156,217 156,217 L110,217 C110,217 98.5,187 110,177 Z" id="Nose" fill="#000000")
          //-         path(d="M134.5,259.420879 C153.553824,259.420879 169,250.851275 169,244.5 C169,238.148725 153.553824,249.270289 134.5,249.270289 C115.446176,249.270289 100,238.148725 100,244.5 C100,250.851275 115.446176,259.420879 134.5,259.420879 Z" id="Mouth" fill="#E88B96")
        div(class="section" id="about-section")
          h1 ABOUT
          p I am currently finishing my education at Epicodus, a 6-month full-time vocational school for aspiring programmers. Prior to Epicodus, I earned my degree in Environmental Science through the University of Oregon's Robert D. Clark Honors College. I spent several years working and interning for the Port of Portland's Environmental Operations department, learning a lot about environmental regulatory work in the context of airport, seaport and industrial operations. Experiencing the technology-gap in the workplace, I saw an opportunity to learn an entirely new set of skills and focus on solving stimulating problems as a web developer. After many months of intensive training focused on Front-End Development and Design, I'm thrilled to continue learning new principles, languages, and frameworks while beginning my career making beautiful, fully-functioning websites and applications.
        div(class="section" id="projects-section")
          //- h1 PROJECTS
          div(class="project" id="pARTicipate" href="pARTicipate/index.html")
            //- h5 pARTicipate
          
          div(class="project" id="lousyLifehacks" href="Lousy-Lifehacks/")
            //- h5 Lousy Life Hacks
          
        div(class="section" id="contact-section")
        
