//output: index.html
doctype html
html
  head
    title Keir Staple
    meta(charset="utf-8" name="viewport" content="width=device-width")
    link(href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/styles.css")
    script(src="js/jquery-1.12.3.js")
    script(src="js/scripts.js")
    
  body
    div(class="container")
      nav(role="navigation")
        div(class="side-bar")
         a(href="#landing-banner") 
          img(src="img/profile-diamond.png" id="profile-image" alt="Image of Keir")
          ul
            li 
              a(href='#about-section') About
            li 
              a(href='#design-section') Design
            li 
              a(href='#code-section') Code
            li
              a(href="#contact-section") Contact
      div(class="main")
        div(id="landing-banner" class="banner section")
          h1 Keir Staple
          h3 Junior Developer // Designer
          //background image of my face
          //personal logo involving a bear
        div(class="section" id="about-section")
          h1 ABOUT
          p I am currently finishing my education at Epicodus, a 6-month full-time vocational school for aspiring programmers. Prior to Epicodus, I earned my degree in Environmental Science through the University of Oregon's Robert D. Clark Honors College. I spent several years working and interning for the Port of Portland's Environmental Operations department, learning a lot about environmental regulatory work in the context of airport, seaport and industrial operations. Experiencing the technology-gap in the workplace, I saw an opportunity to learn an entirely new set of skills and focus on solving stimulating problems as a web developer. After many months of intensive training focused on Front-End Development and Design, I'm thrilled to continue learning new principles, languages, and frameworks while beginning my career making beautiful, fully-functioning websites and applications.
        div(class="section" id="design-section")
          h1 DESIGN
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div(class="section" id="code-section")
          h1 CODE
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div(class="section" id="contact-section")
          div(class="video-container")
            div(class="filter")
            video(autoplay loop class="fillWidth")
              source(src="img/video/Ink_in_water_2.mp4" type="video/mp4")
            div(class="poster hidden")
              //- img(src="img/icons/blacktocat.png" class="pulse")
